---
import IconAstro from "../icons/IconAstro.astro";
import JavaScript from "../icons/JavaScript.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import Python from '../icons/Python.astro'
import Golang from '../icons/Golang.astro'
import Csharp from '../icons/Csharp.astro'

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-white/5 hover:bg-white/10 transition",
    icon: IconAstro,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-white/5 hover:bg-white/10 transition",
    icon: JavaScript,
  },
  PYTHON: {
    name: "Python",
    class: "bg-white/5 hover:bg-white/10 transition",
    icon: Python,
  },
  GOLANG: {
    name: "Golang",
    class: "bg-white/5 hover:bg-white/10 transition",
    icon: Golang,
  },
  CSHARP: {
    name: "Csharp",
    class: "bg-white/5 hover:bg-white/10 transition",
    icon: Csharp,
  },
  
};

const PROJECTS = [
  {
    title: "Probando Frameworks Web",
    description:
      "API REST para la administraci贸n de un refugio de mascotas, replicada en diferentes lenguajes, incluye autenticaci贸n basada en tokens y esquematizaci贸n de base de datos",
    github: "https://github.com/BryanChavajay/probando-frameworks-web-backend",
    image: "./project02.webp",
    tags: [TAGS.PYTHON, TAGS.CSHARP, TAGS.JAVASCRIPT, TAGS.GOLANG],
  },
  {
    title: "Retro Arcade",
    description:
      "Plataforma gratuita que alberga una amplia colecci贸n variada de juegos retros. Creada desde cero utilizando Astro, html, css y JavaScript. Ven y diviertete.",
    link: "#",
    github: "#",
    image: "./project01.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
];
---

<section
  class="flex flex-col items-center justify-center lg:flex-row gap-x-6 gap-y-6"
>
  {
    PROJECTS.map(({ title, description, link, github, image, tags }, index) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:w-3/4 lg:w-1/2 sm:w-full bg-gray-500/10 rounded-lg border border-gray-50/15">
        <div class="">
          <img
            class="transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
            loading="lazy"
            src={image}
            alt="Imagen de un proyecto realizado por Bryan"
          />
        </div>

        <div class="" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px;">
          <h3 class="text-2xl font-bold text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 border border-gray-50/15 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 text-pretty">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</section>
